h1 {
  text-align: center;
  font-size: 75px;
}

h2 {
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}

h2.no-under {
  text-decoration: none;
}

h3 {
  text-align: center;
  font-size: 25px;
}

p {
  text-align: center;
  font-size: 30px;
}

hr {
  background-color: black;
  height: 8px;
}

.choose-page, .pizza-page, .side-page, .soda-page, .final-page,
.confirm-page, .about-page, .pizza-incomplete {
  display: none;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: #663300;
  text-shadow: 2px 2px 5px #3333FF;
  font-weight: 900;
}

.clickable:active {
  color: red;
  text-shadow: 2px 2px 5px blue;
  font-weight: 900;
}

.pizza-incomplete {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  border-style: solid;
  border-color: black;
  border-width: 8px;
  padding: 10px;
  background-color: white;
  display: none;
}

.selected {
  color: red;
  text-shadow: 2px 2px 5px blue;
  font-weight: 900;
}
